@model List<YayinEvi>

<a asp-controller="YayinEvi" asp-action="Add" class="btn btn-primary">Ekle</a>

<table id="tblYayinEvi" class="table table-striped">
    <thead>
        <tr>
            <th>Yayinevi adı</th>
            <th>Yayinevi adresi</th>
            <th>Yayinevi tel</th>
            <th>işlemler</th>
        </tr>
    </thead>
    <tbody>

        @foreach (YayinEvi item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Adres</td>
                <td>@item.Tel</td>
                <td>
                    <a onclick="return confirm (Silmek istediğinizden emin misiniz?)"
                     asp-action="Delete" asp-controller="YayinEvi" asp-route-id="@item.Id" class="btn btn-danger">Sil</a> |
                    <a asp-action="Update" asp-controller="YayinEvi" asp-route-id="@item.Id" class="btn btn-success">Düzenle</a>
                </td>
            </tr>
        }


    </tbody>
